
<div class="header-box"></div>

<div class="header text-right">
  <% if current_user %>
    Welcome, <% end %><%= current_user.name %>!
</div>

   <!-- LEFT SIDE -->


  <%= image_tag current_user.twitter_image_url, class: "img-circle" %>


  <div class = "event-links">
  <table>
    <tr>
      <td> <%= link_to "[create new event]", new_event_path %> </td> 
      <br>
      <td> <%= link_to "[my existing events]", events_path %> </td>

</div>

