
<h1><% if current_user %>
  Welcome, <% end %><%= current_user.name %>!
</h1>



 <%= image_tag current_user.twitter_image_url %> 


<%= link_to "My Events", events_path, class: "btn btn-default" %>
