<table>
  <tr>
   <td> <%= link_to "[my profile]", user_path(current_user) %> </td> 
    <br>
   <td> <%= link_to "[create a new event]", new_event_path %> </td>
    <br>
  </tr>
</table>

<h2>
  <ol>
    <% Event.all.each do  |event| %>
    <li><%= link_to event.name, event_path(event) %>
    <% end %>
    </li>
  </ol>
</h2>


