
<h2>
  <ol>
    <% current_user.events.each do  |event| %>
    <li><%= link_to event.name, event_path(event) %>
        <% end %>
    </li>

  </ol>
</h2>

<%= link_to "[take me back to my profile]", user_path(current_user) %>
<br>
<%= link_to "[create a new event]", new_event_path %> 
