<div class="container">
  <h1 class="page-header">All Events</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <% Event.all.each do |event| %>
          <%= link_to image_tag(event.image, alt: event.name), event %>  
          <% end %>   
        </div> 
      </div>
    </div>
</div>
