<h3> be worry-free one minute at a time.  </h3>

<%= form_for @event do |f| %>
<%= f.text_field :name, :placeholder => "event name" %>
<%= f.text_field :location, :placeholder => "event location" %>
<%= f.submit %>
<% end %>

