/*Place all the styles related to the events controller here.*/
/*They will automatically be included in application.css.*/
/*You can use Sass (SCSS) here: http://sass-lang.com/*/

.notice {
  padding-top: 2%;
}

.background {
  background-color: #111;
}

div .col-md-4 .btn {
  margin-bottom: 2%;
}
