<nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><!-- <img src="images/logo-top-white.png" alt=""> -->fundtime<span class="main-color">$</span></a>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                <%= link_to "HOME", root_path %>
                </li>
                <% if current_page?(events_path) %>
                <li>
                    <%= link_to "CREATE EVENT", new_event_path %>
                </li>
                <% end %>
                <li>
                    <%= link_to 'EVENTS', events_path, id: "my_events" %>
                </li>
                <% if current_user %>
                <li>
                    <%= link_to "SIGN OUT", logout_path %>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>