<div class="background-img" style="background-image: url('<%= image_path('concert.jpg')%>');"></div>

<div class="header-center fade-in text-center">
    <h1>Welcome To
        <span>Fundtime<span class="main-color">$</span></span>
    </h1>
    <p>Group Payments Made Easy</p>
    <br>
  <div>
    <p> To start, log in with your Twitter account:</p>
      <a href="/auth/twitter" class="login" style="border:none;"><span class="twitter"></span></a>
    </div>
</div>

<% if logged_in? %>
  <% current_user.events do |event| %>
    <%= event.name %>
  <% end %>
<% end %>